$corners-width: 2px;
$corners-length: 10px;
$canvasSize: 300px;
$border-color: #ffffffdd;

.selection-opts {
  display: flex;
  gap: 25px;
  font-size: 1rem;

  .selection-icon {
  }

  .active-selection {
    color: rgb(61, 168, 255);
  }
}

.prompt-area {
  display: flex;
  align-items: center;
  gap: 5px;
  
  input {
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    font-size: 1rem;
    // border-bottom: 1px solid #a8a8a8;
    padding-left: 0px;
    // background-color: #ededed;
    border-radius: 5px;
  }
}

.canvases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  //   transform: scale(0.3);
  //   transform-origin: 50% 0;
}

.canvas-wrapper {
  position: relative;
  line-height: 0;

  .mask-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;

    .alignment-box {
      //   width: calc((1 / 3) * 100%);
      //   height: calc((1 / 3) * 100%);
      box-sizing: border-box;
      border: 1px solid $border-color;
    }
  }

  .mask-box > div:nth-child(2),
  .mask-box > div:nth-child(3),
  .mask-box > div:nth-child(5),
  .mask-box > div:nth-child(6),
  .mask-box > div:nth-child(8),
  .mask-box > div:nth-child(9) {
    border-left: none;
  }

  .mask-box > div:nth-child(n + 4) {
    border-top: none;
  }

  .top-left-1 {
    position: absolute;
    width: $corners-length;
    height: $corners-width;
    background-color: $border-color;
    top: -$corners-width;
  }

  .top-left-2 {
    position: absolute;
    width: $corners-width;
    height: $corners-length + $corners-width;
    background-color: $border-color;
    top: -$corners-width;
    left: -$corners-width;
  }

  .top-right-1 {
    position: absolute;
    width: $corners-length;
    height: $corners-width;
    background-color: $border-color;
    top: -$corners-width;
    right: 0;
  }

  .top-right-2 {
    position: absolute;
    width: $corners-width;
    height: $corners-length + $corners-width;
    background-color: $border-color;
    top: -$corners-width;
    right: -$corners-width;
  }

  .bottom-left-1 {
    position: absolute;
    width: $corners-length;
    height: $corners-width;
    background-color: $border-color;
    bottom: -$corners-width;
  }

  .bottom-left-2 {
    position: absolute;
    width: $corners-width;
    height: $corners-length + $corners-width;
    background-color: $border-color;
    bottom: -$corners-width;
    left: -$corners-width;
  }

  .bottom-right-1 {
    position: absolute;
    width: $corners-length;
    height: $corners-width;
    background-color: $border-color;
    bottom: -$corners-width;
    right: 0;
  }

  .bottom-right-2 {
    position: absolute;
    width: $corners-width;
    height: $corners-length + $corners-width;
    background-color: $border-color;
    bottom: -$corners-width;
    right: -$corners-width;
  }

  canvas {
  }
}

.btns {
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;

  button {
    padding: 10px;
  }
}

.placeholder {
  display: flex;
  gap: 10px;
  width: $canvasSize;
  height: $canvasSize;
  justify-content: center;
  align-items: center;
  color: rgb(108, 108, 108);
}
